/* Big Screens */
#card {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    background-color: #002c6aa8;
    padding: 15px;
    color: #781d42;
}

#card .card-outer-wrapper {
    width: 100%;
    height: 100%;
    border: 2px solid #002c6a;
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    background-image: linear-gradient(
        to left,
        #fdcbf1 0%,
        #fdcbf1 1%,
        #e6dee9 100%
    );
}

#card .card-inner-wrapper {
    width: 100%;
    height: 100%;
    background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
}

#card .card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background-image: linear-gradient(
        125deg,
        #8d0054 7%,
        rgb(255, 175, 189) 7%,
        rgb(255, 175, 189) 11%,
        transparent 11%,
        transparent 89%,
        rgb(255, 175, 189) 89%,
        rgb(255, 175, 189) 93%,
        #8d0054 93%,
        #8d0054 100%
    );
}

#card .card-title {
    /* font-family: "Tangerine", cursive; */
    font-family: "Great Vibes", cursive;
}

#card .line-divider {
    width: 60%;
}

#card .btn {
    border-color: #8d0054 !important;
    background: linear-gradient(
        145deg,
        rgba(255, 175, 189, 1) 10%,
        rgba(255, 195, 160, 1) 50%,
        rgba(255, 175, 189, 1) 90%
    );
    font-weight: 600;
    width: 120px;
    padding-top: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
        0 3px 1px -2px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

#card .btn:active {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
}

/* Tablet Wide Screens */
@media (max-width: 992px) {
}

/* New Mobile Phones Wide Screens */
@media (max-width: 428px) {
    #card .card-content {
        background-image: linear-gradient(
            125deg,
            #8d0054 10%,
            rgb(255, 175, 189) 10%,
            rgb(255, 175, 189) 15%,
            transparent 15%,
            transparent 85%,
            rgb(255, 175, 189) 85%,
            rgb(255, 175, 189) 90%,
            #8d0054 90%,
            #8d0054 100%
        );
    }
    #card .card-title {
        font-size: 1.25rem;
    }
    #card .line-divider {
        width: 70%;
    }
    #card .invitor-name,
    #card h4 {
        font-size: 1rem;
    }
}

/* Old Mobile Phones Wide Screens */
@media (max-width: 360px) {
}
