/* Big Screens */
#developer-info {
    background-color: #343a40;
    color: white;
    padding: 7% 7%;
}

#developer-info a {
    text-decoration: none;
    color: white;
}

#developer-info a:hover {
    text-decoration: underline;
}

#developer-info h4 {
    font-family: "Nunito", serif;
    line-height: 2;
}

#developer-info .icon-section {
    margin-top: 20px;
}

#developer-info .icon-link {
    padding: 0px 10px;
}

/* Tablet Wide Screens */
@media (max-width: 992px) {
}

/* New Mobile Phones Wide Screens */
@media (max-width: 428px) {    
#developer-info {
    padding: 10% 10%;
}
#developer-info a { 
    text-decoration: underline;
}
}

/* Old Mobile Phones Wide Screens */
@media (max-width: 360px) {
}
